{% block body %}
	<div class="container">
	<h3>Summary</h3>
	 <section>
		<div class="row">
		    <div class="col-md-12 ">
			    <div class="panel-group perk-panel" id="accordion">

			    <div class="panel panel-default">
			    <div class="panel-heading color">
			        <h4 class="panel-title">
			            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Total Pages ({{all_pages_count}})</a>
			        </h4>
			    </div>
			    <div id="collapse1" class="panel-collapse collapse">
			            <div class="panel-body">
			            	View the network graph <a href="graphs/all_pages.html">here</a>!
			        	</div>
				    </div>
			    </div>

			    <div class="panel panel-default">
			    <div class="panel-heading color">
			        <h4 class="panel-title">
			            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Top Linked Pages (200)</a>
			        </h4>
			    </div>
			    <div id="collapse2" class="panel-collapse collapse">
			            <div class="panel-body">
			            <table class="table table-bordered">
						    <thead>
						      <tr>
						        <th>Source Page</th>
						        <th>Number of Times Pages Cited</th>
						      </tr>
						    </thead>
						    <tbody>
						    {% for p in top_pages %}
						      <tr>
						        <td ><a href="{{p.url}}">{{p.url}}</a></td>
						        <td>{{p.count}}</td>

						      </tr>
						    {% endfor %}

						    </tbody>
					 	</table>

			        	</div>
				    </div>
			    </div>

			    <div class="panel panel-default">
			    <div class="panel-heading color">
			        <h4 class="panel-title">
			            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Broken Links ({{broken_links_count}})</a>
			        </h4>
			    </div>
			    <div id="collapse3" class="panel-collapse collapse">
			         <div class="panel-body">
			         <div style="width:800px;">
			            <table style="width:800px;" class="table table-bordered">
						    <thead>
						      <tr>
						        <th>Source Page</th>
						        <th>Broken Links</th>
						      </tr>
						    </thead>
						    <tbody >
						    {% for p in pages_with_broken_links %}
						      <tr>
						        <td style="word-break:break-all;"><a href="{{p.url}}">{{p.url}}</a></td>

							    <td style="word-break:break-all;">{{p.broken_targets}}</td>

						      </tr>
						    {% endfor %}

						    </tbody>
					 	</table>
					 	</div>
					 	</div>
			     </div>
				</div>
			    </div>
			</div>
		</section>

	<h3>View a Sitemap Category</h3>
	<br>
		{% for svg_row in svgs|batch(3) %}
		<div class="row">
			{% for svg in svg_row %}
			<div class="col-sm-4">
				<a style="background:darkgreen;" class="btn btn-sq btn-primary btn-block" href="{{ svg.href }}">{{ svg.name }} | {{svg.count}} pages
				</a><br>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
{% endblock %}